<button class="btn btn-default" ng-click="createDepartments()">Load Departments</button>
<button class="btn btn-default" ng-click="createCourses()">Load Courses</button>

<!--<tr>-->
  <!--<td align=LEFT>-->
    <!--<font size =-1>-->
      <!--<a HREF=http://www.artsandscience.utoronto.ca/ofr/calendar/crs_chm.htm#CHM101H1>-->
        <!--CHM101H1</a></font></td><td><font size =-1>S</font>-->
  <!--</td>-->
  <!--<td align='LEFT'>-->
    <!--<font size =-1>CHM Biol Org Mol</font></td>-->
    <!--<td align='CENTER'>-->
      <!--<font size =-1>L0101</font>-->
    <!--</td>-->
  <!--<td colspan=5 align=center>-->
    <!--<font size =-1 color=red>-->
      <!--Cancel</font>-->
  <!--</td>-->
  <!--<td valign=middle align=LEFT rowspan=1>-->
    <!--<font size =-1>-->
      <!--<a href=chm_chm101h1.html>See Details</a>-->
    <!--</font>-->
  <!--</td>-->
  <!--<td align=LEFT>-->
    <!--<font size =-1>-->
      <!--<B>&nbsp;</B>-->
    <!--</font>-->
  <!--</td>-->
  <!--<td align=CENTER>-->
    <!--<font size =-1>&nbsp;</font>-->
  <!--</td>-->
  <!--<td align=CENTER><font size =-1>-->
    <!--&nbsp;</font>-->
  <!--</td>-->
  <!--<td align=CENTER>-->
    <!--<font size =-1>&nbsp;</font>-->
  <!--</td>-->
<!--</tr>-->

<tr>
  <td align=LEFT>
    <font size =-1>
      <a HREF=http://www.artsandscience.utoronto.ca/ofr/calendar/crs_chm.htm#CHM138H1>
        CHM138H1
      </a>
    </font>
  </td>
  <td ALIGN='CENTER'>
    <font size =-1>
      F
    </font>
  </td>
  <td ALIGN='LEFT'>
    <font size =-1>
      Intro Org Chemistry I
    </font>
  </td>
  <td align='CENTER'>
    <font size =-1>
      L0101
    </font>
  </td>
  <td ALIGN='CENTER'>
    <font size =-1>
      Y
    </font>
  </td>
  <td align=LEFT>
    <font size =-1>
      MTR9
    </font>
  </td>
  <td align=LEFT>
    <font size =-1>
      ES 1050
    </font>
  </td>
  <td align=LEFT>
    <font size =-1>
      Dicks/Yudin/Seferos
    </font>
  </td>
  <td ALIGN='CENTER'>
    <font size =-1>
      <a TARGET='_blank' href='http://www.artsci.utoronto.ca/current/course/timetable/1516_fw/codes-used-in-the-timetable-listings#indicator'>
        P
      </a>
    </font>
  </td>
  <td valign=middle align=CENTER rowspan=38><font size =-1>
    <a href=chm_chm138h1.html>See Details</a>
  </font></td>
  <td align=LEFT>
    <font size =-1>
    <B>&nbsp;</B>
    </font>
  </td>
  <td align=CENTER>
    <font size =-1>
      400
    </font>
  </td>
  <td align=CENTER>
    <font size =-1>
      400
    </font>
  </td>
  <td align=CENTER>
    <font size =-1>
      88
    </font>
  </td>
</tr>

